body {
  padding-top: 50px;
}


/*.item img{
  transition: 0.6s ease;
}

.container:hover .item img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}*/



.thumbnail{
  width: 500px;
  float: left;
  margin: 10px;
  overflow: hidden;
  position: relative;

}

.thumbnail img{
  width: 500px;
  height: 270px;
  transition: 0.6s ease;
}

.thumbnail:hover img{
  transform: scale(1.2);
}
