body {
  padding-top: 50px;
}


/*.item img{
  transition: 0.6s ease;
}
.container:hover .item img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}*/



.thumbnail{
  float: left;
  margin: 10px;
  overflow: hidden;
  position: relative;

}

.thumbnail img{
  width: 500px;
  height: 270px;
  transition: 0.6s ease;
}

.thumbnail:hover img{
  transform: scale(1.2);
}

.gallery{
  background-color: #d4d8d8;
  border-radius: 10px;
  width: 300px;
  height: 100px;
  text-align: center;
  float: left;
  margin: 5px;
}

.gallery :hover{
  border-color: #033c73;
}

.gallery h1{
  font-family: "Calibri Light";
  font-size: 30px;
}

.notRendered{
  visibility: hidden;
  height: 0px;
  width: 0px;
}